
<div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-4">
      <div ng-show="gameOver">
        GAME OVER! Your final score is {{ score }}.
    </div>
      <div ng-show="!haveSongs() && start">
          <form role="form" ng-submit="addSong()">
              <div class="row">
                  <div class="input-group">
                      <label>Category: </label>
                        <select class="form-control" name="category" ng-model="category.type">
                           <option ng-repeat="category in categoryOptions">{{ category }}</option>
                         </select>
                      <br>
                      <button class="btn btn-primary">Generate Songs</a>
                  </div>
              </div>
          </form>
      </div>
    </div>
    <div class="col-xs-3"></div>
    <!-- Todos input -->
</div>
<div class="play" ng-show="haveSongs() && !gameOver">
  <div>
    Current round: {{ round + 1 }}     |     Current score: {{ score }}
</div>
    <button ng-click="songs[currentSong].play()" volume="0.5" start="0.2" class="btn btn-info">Start</button>
    <button ng-click="buzzIn()" volume="0.5" start="0.2" class="btn btn-success">Buzzer!</button>
    Current Time: {{songs[currentSong].currentTime | trackTime}}
</div>
<!-- 
<div class="play" ng-show="haveSongs() && !gameOver">
 <div ng-repeat="song in songs" ng-show="songList">
    <button ng-click="song.play()" volume="0.5" start="0.2" class="btn btn-info" >Start</button>
    <button ng-click="song.pause()" volume="0.5" start="0.2" class="btn btn-success" >Buzzer!</button>
    Current Time: {{song.currentTime | trackTime}}
  </div>
</div>
 -->
<div class="container" ng-show="haveSongs() && !gameOver && guessing">
    <form role="form" ng-submit="submitGuess()">
        <div class="row">
            <div class="input-group">
                <label>Song: </label>
                <input type="text" ng-model="guess.songName" placeholder="Name the song">
                <label>By: </label>
                <input type="text" ng-model="guess.artist" placeholder="Name the artist">
                <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Guess!">
        </span>
            </div>
        </div>
    </form>
</div>
<div ng-show="haveSongs() && !gameOver">
    <div ng-repeat="theSong in songList">
        {{ theSong.name }} by {{ theSong.artist[0].name }}
    </div>
</div>