



 <div class="container">
    <h2>Welcome!</h2>

    <!-- Todos input -->
    <button class="btn btn-primary" ng-click="addSong('hipHop')">Generate Songs</a>
 </div>

<p></p>



<div class="play" ng-show="haveSongs()">
 <div ng-repeat="song in songs" ng-show="songList">
    <button ng-click="song.play()" volume="0.5" start="0.2" class="btn btn-info" >Start</button>
    <button ng-click="song.pause()" volume="0.5" start="0.2" class="btn btn-success" >Buzzer!</button>
    Current Time: {{song.currentTime | trackTime}}
  </div>
</div>

<div class="container">
  <form role="form" ng-submit="submitGuess(theSong)"> <!-- Not successfully getting the played song but I'm going to show one at a time only anyway -->
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="guess.artist" placeholder="Name the artist">
        <input type="text" ng-model="guess.songName" placeholder="Name the song">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Guess!">
        </span>
      </div>
    </div>
  </form>
</div>

<div ng-show="haveSongs()">
 <div ng-repeat="theSong in songList">
    {{ theSong.name }} by {{ theSong.artist[0].name }}
  </div>
</div>